.button {
  padding: 0 20px;
  line-height: 40px;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  background: $switch-purple;
  border-radius: 3px;
  font-size: 12px;
  font-family: "switch-font-bold", sans-serif;
  position: relative;
  transition: all 200ms ease-out;
  &:hover {
    color: white;
    background: darken($switch-purple, 5%);
    transform: translateY(-2px);
  }
}
