* {
  box-sizing: border-box;
}
html,
body {
  font-family: "switch-font", Fallback, sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: $switch-grey;
}

a {
  text-decoration: none;
  &:hover {
    color: $switch-purple;
  }
}
section,
footer {
  width: 100%;
}
.container {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  @include mobile {
    width: 100%;
    padding: 0 40px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.hero {
  background: url("./images/bg.svg") no-repeat;
  background-position: top center;
  background-size: cover;
}
.hero-content {
  padding-top: 50px;
  .phone {
    grid-column: 9/12;
    grid-row: 1/6;
    @include mobile {
      display: none;
    }
    img {
      width: 100%;
      position: relative;
      transform: rotate(-15deg);
    }
  }
  .caption {
    grid-column: 1/8;
    grid-row: 1/6;
    @include mobile {
      grid-column: 1/13;
    }
    h1 {
      text-transform: uppercase;
      font-family: "switch-font-bold", sans-serif;
      font-weight: bold;
      color: white;
    }
    p {
      padding-bottom: 20px;
      color: $switch-light-purple;
    }
  }
}

.account {
  text-align: center;
  margin-top: 100px;
  .cards {
    width: 50px;
    margin-bottom: 20px;
  }
  p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
}
.points {
  padding: 100px 0;
  h1 {
    width: 30%;
    @include mobile {
      text-align: center;
      width: 100%;
    }
  }
  .list {
    width: 60%;
    @include mobile {
      width: 100%;
      padding: 0 50px;
    }
  }
}
.footer {
  background: $switch-grey;
  padding: 100px 0;
  @include mobile {
    padding: 50px 0;
  }
  .logo {
    order: 1;
    @include mobile {
      order: 2;
      margin-top: 40px;
    }
  }
  .quick-links {
    order: 2;
    @include mobile {
      order: 1;
    }
  }
  .links {
    margin-left: 40px;
    @include mobile {
      margin-left: 0;
    }
    a {
      color: white;
      &:hover {
        color: $switch-dark;
      }
    }
  }
}

.partners {
  background: $switch-light-grey;
  margin-top: 50px;
  padding: 100px 0;
  .switch-partners .row {
    padding: 50px;
    @include mobile {
      padding: 0;
    }
  }
  .switch-partners img {
    height: 40px;
    align-self: center;
    @include mobile {
      margin: 20px 0;
    }
    &.double {
      height: 80px;
    }
  }
}

.app-icons {
  margin-top: 20px;
  img {
    height: 40px;
  }
}
.pricing {
  padding: 100px 0;
  @include mobile {
    padding: 50px 0;
  }
  .prices {
    color: $switch-dark;
  }
  .caption {
    width: 50%;
    padding-right: 30px;
    @include mobile {
      width: 100%;
      text-align: center;
    }
  }
  table {
    @include mobile {
      margin-top: 40px;
    }
  }
  td {
    padding: 20px 40px 20px 0;
    border-bottom: 1px solid $switch-light-grey;
  }
  .app-icons {
    @include mobile {
      display: none;
    }
  }
}
.download {
  margin: 100px 0;
}
