* {
  box-sizing: border-box;
}
html,
body {
  font-family: "switch-font", Fallback, sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: $switch-grey;
}

a {
  text-decoration: none;
  &:hover {
    color: $switch-purple;
  }
}
section,
footer {
  width: 100%;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.hero {
  background: url("./images/bg.svg") no-repeat;
  background-size: cover;
}
.hero-content {
  height: 600px;
  padding-top: 50px;
  .phone {
    grid-column: 9/12;
    grid-row: 1/6;
    img {
      width: 100%;
      position: relative;
      transform: rotate(-15deg);
    }
  }
  .caption {
    grid-column: 1/8;
    grid-row: 2/6;
    h1 {
      text-transform: uppercase;
      font-family: "switch-font-bold", sans-serif;
      font-weight: bold;
      color: white;
    }
    p {
      padding-bottom: 20px;
      color: $switch-light-purple;
    }
  }
}

.account {
  text-align: center;
  margin-top: 100px;
  .cards {
    width: 50px;
    margin-bottom: 20px;
  }
  p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
}
.points {
  padding: 100px 0;
  h1 {
    grid-row: 1/7;
    grid-column: 1/5;
  }
  .telegram {
    grid-row: 5;
    grid-column: 1/6;
    a {
      padding-left: 25px;
      background: url("./images/telegram.svg") no-repeat;
      background-size: 20px;
      background-position: left center;
      display: inline-block;
      color: #2aa0d9;
    }
  }
  .list {
    grid-row: 1/7;
    grid-column: 6/13;
  }
}
.footer {
  background: $switch-grey;
  padding: 100px 0;
  .links {
    margin-left: 40px;
    a {
      color: white;
      &:hover {
        color: $switch-dark;
      }
    }
  }
}

.partners {
  background: $switch-light-grey;
  margin-top: 50px;
  padding: 100px 0;
  .switch-partners .row {
    padding: 50px;
  }
  .switch-partners img {
    height: 30px;
  }
}

.app-icons {
  margin-top: 20px;
  img {
    height: 40px;
  }
}
.pricing {
  padding: 100px 0;
  .prices {
    color: $switch-dark;
  }
  .caption {
    width: 50%;
    padding-right: 30px;
  }
  td {
    padding: 20px 40px 20px 0;
    border-bottom: 1px solid $switch-light-grey;
  }
}
