.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.margin-10 {
  margin-bottom: 10px;
}

.margin-20 {
  margin-bottom: 20px;
}

.margin-50 {
  margin-top: 50px;
}

.margin-100 {
  margin-top: 100px;
}

.margin-200 {
  margin-top: 200px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  text-align: center;
}

.margin-auto {
  margin: 0 auto;
}

.padding-100 {
  padding: 100px 0;
}

@font-face {
  font-family: "switch-font";
  src: url("./fonts/gt-walsheim-web.ttf");
}
@font-face {
  font-family: "switch-font-bold";
  src: url("./fonts/gt-walsheim-bold-web.ttf");
}
h1 {
  font-family: "switch-font";
  font-size: 48px;
  line-height: 50px;
  padding-bottom: 20px;
  color: #170e32;
  text-transform: capitalize;
}
h1.alt {
  color: white;
}

h3 {
  font-family: "switch-font-bold";
  font-size: 15px;
  color: #170e32;
}

h2 {
  font-family: "switch-font-bold";
  font-size: 18px;
  text-transform: uppercase;
  color: #170e32;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "switch-font", Fallback, sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #5b5b5e;
}

a {
  text-decoration: none;
}
a:hover {
  color: #7b42f6;
}

section,
footer {
  width: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.hero {
  background: url("./images/bg.svg") no-repeat;
  background-size: cover;
}

.hero-content {
  height: 600px;
  padding-top: 50px;
}
.hero-content .phone {
  grid-column: 9/12;
  grid-row: 1/6;
}
.hero-content .phone img {
  width: 100%;
  position: relative;
  transform: rotate(-15deg);
}
.hero-content .caption {
  grid-column: 1/8;
  grid-row: 2/6;
}
.hero-content .caption h1 {
  text-transform: uppercase;
  font-family: "switch-font-bold", sans-serif;
  font-weight: bold;
  color: white;
}
.hero-content .caption p {
  padding-bottom: 20px;
  color: #f0e9ff;
}

.account {
  text-align: center;
  margin-top: 100px;
}
.account .cards {
  width: 50px;
  margin-bottom: 20px;
}
.account p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.points {
  padding: 100px 0;
}
.points h1 {
  grid-row: 1/7;
  grid-column: 1/5;
}
.points .telegram {
  grid-row: 5;
  grid-column: 1/6;
}
.points .telegram a {
  padding-left: 25px;
  background: url("./images/telegram.svg") no-repeat;
  background-size: 20px;
  background-position: left center;
  display: inline-block;
  color: #2aa0d9;
}
.points .list {
  grid-row: 1/7;
  grid-column: 6/13;
}

.footer {
  background: #5b5b5e;
  padding: 100px 0;
}
.footer .links {
  margin-left: 40px;
}
.footer .links a {
  color: white;
}
.footer .links a:hover {
  color: #170e32;
}

.partners {
  background: #eff7f9;
  margin-top: 50px;
  padding: 100px 0;
}
.partners .switch-partners .row {
  padding: 50px;
}
.partners .switch-partners img {
  height: 30px;
}

.app-icons {
  margin-top: 20px;
}
.app-icons img {
  height: 40px;
}

.pricing {
  padding: 100px 0;
}
.pricing .prices {
  color: #170e32;
}
.pricing .caption {
  width: 50%;
  padding-right: 30px;
}
.pricing td {
  padding: 20px 40px 20px 0;
  border-bottom: 1px solid #eff7f9;
}

.navigation {
  padding: 30px 0;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}
.navigation .logo {
  align-self: center;
  height: 30px;
}
.navigation li {
  padding: 0 20px;
  display: inline-block;
}
.navigation .menu a {
  text-transform: uppercase;
  font-family: "switch-font";
  color: white;
  text-decoration: none;
  font-size: 12px;
  transition: all 150ms ease-out;
}
.navigation .menu a:hover {
  color: #7b42f6;
}

.button {
  padding: 0 20px;
  line-height: 40px;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  background: #7b42f6;
  border-radius: 3px;
  font-size: 12px;
  font-family: "switch-font-bold", sans-serif;
  position: relative;
  transition: all 200ms ease-out;
  border: none;
  cursor: pointer;
}
.button:hover {
  color: white;
  background: #6a2af5;
  transform: translateY(-2px);
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid black;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 500ms cubic-bezier(0, 0, 0.47, 1.32);
  pointer-events: none;
  transform-origin: center center;
  z-index: 10000000;
}

.input-text {
  border: none;
  padding: 0 20px;
  line-height: 40px;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  font-family: "switch-font-bold", sans-serif;
}

.slider {
  margin: 100px;
  width: 80%;
}

.slide {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.slide .caption {
  width: 60%;
  align-self: center;
}
.slide .slide-image {
  width: 30%;
}
.slide .slide-image img {
  width: 100%;
}

.controls {
  display: inline-block;
  margin-top: 20px;
  position: relative;
}
.controls.relative {
  transform: translateY(-150px);
}
.controls .arrow {
  cursor: pointer;
}
.controls .arrow .icon {
  width: 10px;
  fill: #5b5b5e;
}
.controls .arrow .icon:hover {
  fill: #7b42f6 !important;
}
.controls .arrow.right {
  margin-left: 30px;
}

/*# sourceMappingURL=main.css.map */
